html{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;	
	overflow: hidden; /* eso permite que una pagina este sin barra de scroll*/
}
body{
	  background-image: url('../img/fondo2.png') ;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-attachment: fixed;			
			background-size: cover;
    width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;	
	overflow: hidden;
	text-align: center; /*centrado horizontal*/
}

.fila{
	height: 12%; 
	margin: 0px;
	padding: 0px;
} 

.boton{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	user-select: none; 
	outline: none;
	border: 2px solid white;
}

.cBotonSup{
	height: 100%;
	width: 25%;
	float: left;	
}

.cBotonInf{
	height: 100%;
	width: 33.33%;
	float: left;	
}

#fila2{
	/*height: 16%; ocupa el 12% que tiene la ventana
	margin: 0px;
	padding: 0px;*/
	overflow: hidden; /*asi si aparece algun numero largo. no permite que se pongan las barras de scroll*/
	position: relative;
	/*opacity: 0.7;*/
	background: black;
}

#cbDEC{
	background: #ff884d ;
}

/* Contenedor de Entrada*/
#cEntrada{
	position: relative;
	height: 100%;
	width: 100%;
	float: left;
	overflow: hidden;
	background: #001830;
	border: 2px solid white; 
}
/*Creacion de botones*/
#Entrada{
position: absolute;
width: 95%;
padding: 0px;
left: 0px;
right: 0px;
margin: auto;
font: bold 30px "Courier New", Courier, monospace;
color: #30D0FF;
text-shadow: 1px 1px #202020;
}

#cbBorrar{
	background: #ff884d;
	opacity: 0.9;
}
#bBIN{
	background: url('../img/BIN.png')center no-repeat;
	background-size: contain;
}
#bHEX{
	background: url('../img/HEX.png')center no-repeat;
	background-size: contain;
}
#bDEC{
	background: url('../img/DEC.png')center no-repeat;
	background-size: contain;
}
#bOCT{
	background: url('../img/OCT.png')center no-repeat;
	background-size: contain;
}
#bD{
	background: url('../img/D.png')center no-repeat;
	background-size: contain;
}
#bE{
	background: url('../img/E.png')center no-repeat;
	background-size: contain;
}
#bF{
	background: url('../img/F.png')center no-repeat;
	background-size: contain;
}
#bA{
	background: url('../img/A.png')center no-repeat;
	background-size: contain;
}
#bB{
	background: url('../img/B.png')center no-repeat;
	background-size: contain;
}
#bC{
	background: url('../img/C.png')center no-repeat;
	background-size: contain;
}
#b7{
	background: url('../img/7.png')center no-repeat;
	background-size: contain;
}
#b8{
	background: url('../img/8.png')center no-repeat;
	background-size: contain;
}
#b9{
	background: url('../img/9.png')center no-repeat;
	background-size: contain;
}
#b4{
	background: url('../img/4.png')center no-repeat;
	background-size: contain;
}
#b5{
	background: url('../img/5.png')center no-repeat;
	background-size: contain;
}
#b6{
	background: url('../img/6.png')center no-repeat;
	background-size: contain;
}
#b3{
	background: url('../img/3.png')center no-repeat;
	background-size: contain;
}
#b2{
	background: url('../img/2.png')center no-repeat;
	background-size: contain;
}
#b1{
	background: url('../img/1.png')center no-repeat;
	background-size: contain;
}
#bPunto{
	background: url('../img/Punto.png')center no-repeat;
	background-size: contain;
}
#bBorrar{
	background: url('../img/Borrar.png')center no-repeat;
	background-size: contain;
}
#b0{
	background: url('../img/0.png')center no-repeat;
	background-size: contain;
}



