.contenedor{
        width: 100%;
	margin: 0 auto;
        overflow: hidden;
}
body {
	font-family: calibri;
	background-image: url('../img/fondo.jpg') ;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;			
	background-size: cover;
	height: 150%;
	padding: 0px;	
	text-align: center; 
                overflow: hidden;
}

table {
        width: 75%;
        margin: auto;
        border-style: none;
        border-collapse: collapse;
        box-sizing: border-box;
        overflow: hidden;

}

th, td {
        border-style: none;
        text-align: left;
        padding: 8px;
        color: white;
}

tr{background-color: #ff1a1a;}

th {
        background-color: #660000;
}

h1 {
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 800px) {
    table {
        width: 100%;
    }
    th {
        width: 100%;
    }
    td {
        width: 100%;
    }
    tr {
        width: 100%;
    }
    
    
}